  
.card-container { 
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.25fr));
  display: grid;
  padding: 20px;
  grid-gap: 40px;
}

.page {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-container {
  display: flex;
  justify-content: space-between;
}
.team-body{
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}