.profile-box {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  margin-top: 30px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 30px;
}
.nickname-box,
.email-box,
.grade-box,
.githublink-box,
.keyword-box {
  text-align: left;
}

.p-title {
  text-align: left;
  width: 90px;
}
.inline-box {
  display: flex;
  margin-bottom: 10px;
}
.profile-img-box {
  margin: 0 auto;
}
.field-toggle-box,
.subject-toggle-box {
  text-align: left;
  margin-top: 20px;
}
.image-button {
  display: none;
}
.profile-img-box {
  display: flex;
  justify-content: center;
}
.profile-img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--bGrayBorder);
}
.profile-title {
  text-align: center;
  margin: 5px;
  color: rgb(123, 123, 123);
}
