.profile-box {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  margin-top: 30px;
  border-radius: 16px;
  box-shadow: 0px 0px 30px #eee;
}
.nickname-box,
.email-box,
.grade-box,
.githublink-box,
.keyword-box{
  text-align: left;
}

.p-title {
  text-align: left;
  width: 90px;
}
.inline-box {
  display: flex;
  margin-bottom: 10px;
}
.profile-img {
  margin: 0 auto;
}
.field-toggle-box,
.subject-toggle-box {
  text-align: left;
  margin-top: 20px;
}
