.tm{
    padding-top: 30px;
    width: 90%;
}
.teamMembers_container{
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid rgb(185, 185, 185);
    overflow: auto;
}
.teamMembers_container::-webkit-scrollbar {
    width: 20px;  /* 스크롤바의 너비 */
    
  }
  .teamMembers_container::-webkit-scrollbar-button:vertical:start:decrement,
  .teamMembers_container::-webkit-scrollbar-button:vertical:start:increment{
    display: block;
    height: 20px;
  }
  .teamMembers_container::-webkit-scrollbar-button:vertical:end:decrement{
    display: block;
    height: 20px;
  }
  .teamMembers_container::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #848484; /* 스크롤바의 색상 */
    border-radius: 10px;
    border: 7px solid #FFFFFF;
  }
  
  .teamMembers_container::-webkit-scrollbar-track {
    background: #FFFFFF;  /*스크롤바 뒷 배경 색상*/
    
    border-radius: 10px;
  }
.teamMembers_title > * {
    margin: 10px;
}
.teamMembers_body_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.memberList-container{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
    justify-content: center;
}

@media  (max-width:768px) {
  .tm {
    width: 100%;
  }
  .memberList-container{  
    grid-template-columns: 100% ;
  }
}