.teamMembers{
    padding-top: 30px;
}
.teamMembers_container{
    width: 1200px;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid rgb(185, 185, 185);
    height: 600px;
}
.teamMembers_title > * {
    margin: 10px;
}
.teamMembers_body_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.memberList-container{
  
    height: 385px;
}