.search-box {
  margin: 20px;
  text-align: center;
}
.members-title-box {
  text-align: center;
}
.subtitle {
  color: rgb(120, 121, 121);
}
.member-card-container {
  /* background-color: black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 27px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
