.userform-box {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -400px;
  padding: 20px;
  text-align: center;
}
.userform-title,
.lang-title,
.job-title {
  color: #343a40;
  text-align: center;
}
.userform-image {
  margin-bottom: 20px;
}
.hide {
  width: -auto;
  height: -auto;
}
.profile-img {
  margin: 10px;
}
