.login-box {
  width: 500px;
  /* position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
  padding: 20px; */
}
.login-title {
  font-size: 36px;
  color: #343a40;
  text-align: center;
}
.login-text {
  text-align: center;
}
.login-button {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.gosignup-button {
  display: flex;
  justify-content: center;
}
.Button {
  font-family: "Noto Sans KR", sans-serif;
}
