.teamdetail {
    max-width: 1000px;
    margin: 0px auto;
    box-sizing: border-box;
    text-align: center;
    padding: 49px;
    margin-top: 30px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 30px;
}
.team-title,
.purpose-title,
.field-title,
.people-title {
    display: flex;
    justify-content: center;
  padding-top: 10px;
}
.want-title {
    display: flex;
    justify-content: center;
}
.want-box {
    margin-top: 20px;
}
.team-text {
    margin-left: 10px;
}
.teamdetail_summary {
    text-align: left;
}
.teamdetail-title2 {
    margin: 20px;
}
.모집유형 {
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 30px;
    padding: 10px;
}
.want-box {
    margin-top: 20px;
    padding: 9px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 30px;
}
.요구능력 {
    display: flex;
    text-align: center;
    padding: 10px;
}
.summary {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 30px;
}
.detail-text {
    padding: 10px;
}
.teamdetail_bottom {
    margin: 10px;
}
.teamdetail-btn {
    max-width: 100px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 0;
    background-color: #0662c5;
    color: #fff;
    font-size: 16px;
    margin: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
}
.팀신청{
    max-width: 200px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 0;
    background-color: #0662c5;
    color: #fff;
    font-size: 16px;
    margin: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
}

@media (max-width: 768px) {
    .teamdetail {
        margin: 0px auto;
        box-sizing: border-box;
        text-align: center;
        padding: 29px;
        margin-top: 30px;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 30px;
    }
    .want-box {
        margin-top: 20px;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 30px;
    }
    .요구능력 {
        display: grid;
        text-align: center;
        padding: 0px;
    }
}